<h1>教材比較.COM</h1>

<p>こんにちは、 <%= @user.name %>さん</p>

<p>
教材比較.COMへの登録ありがとうございます！
以下のリンクをクリックして、アカウントの作成を完了してください！
</p>

<%= link_to "アカウント作成", edit_account_activation_url(@user.activation_token,
        email: @user.email) %>

