<h1>パスワード再設定</h1>

<p>こんにちは、 <%= @user.name %>さん</p>

<p>教材比較.COMのパスワード再設定用リンクは以下です。</p>
<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>※このリンクは２時間で無効になります。</p>

<p>もしこのメールに心当たりのない場合は、無視してください。</p>